$main-font-style: 'Red Hat Text';
$left-panel-background: #000000;
$right-panel-background: #212529;
$main-color-text: #FFFFFF;
$line-color: #222222;
$content-line-color: white;
$main-color-links: #999999;
$codeblock-color-background: #0d1117;

$nav-t-color: #826768;
$regular: 400;
$semibold: 600;
$bold: 800;


$max-width-viewport: 1280px;